/* /css/styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 480px;
}
h1 {
    color: #2c3e50;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
label {
    font-weight: 600;
    color: #34495e;
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #3498db;
    border-radius: 8px;
    background-color: #ecf0f1;
    color: #34495e;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
input:focus {
    border-color: #2980b9;
    outline: none;
}
button {
    width: 100%;
    padding: 14px;
    background: #28a745;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}
button:hover {
    background: #218838;
}
.result {
    background-color: #f1f8fd;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    border-left: 5px solid #3498db;
}
.result h3 {
    color: #2c3e50;
    margin-top: 0;
}
.result p {
    margin: 5px 0;
    font-size: 16px;
    color: #34495e;
}
.result p strong {
    color: #2980b9;
}

.error-message {
    color: #e74c3c;
    font-weight: bold;
    margin-top: 15px;
    font-size: 20px; /* Larger font size */
    text-align: center; /* Center the text */
    padding: 10px;
    background-color: #f8d7da; /* Light red background */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #f5c6cb; /* Red border */
}

.close-btn {
    
    top: 10px;
    right: 10px;
    width: 35px;  
    height: 35px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    line-height: 1;  
    padding: 0;
}

.close-btn:hover {
    background: darkred;
}

.button-nav {
    width: 35px;  
    height: 35px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding: 0;
    margin: 10px 5px; 
}

.button-nav:hover {
    background: rgb(7, 110, 29);
}

.button-container {
    display: flex;
    align-items: center;  /* Aligns buttons vertically */
    justify-content: center;  /* Centers buttons */
    gap: 10px; /* Adds space between buttons */
    margin-top: 20px;
}
