<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position Sizing Wizard</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Position Sizing Wizard</h1>
        <form method="POST" action="/">
            <div class="form-group">
                <label for="high">Candle High:</label>
                <input type="number" id="high" name="high" required step="any">
            </div>
            
            <div class="form-group">
                <label for="low">Candle Low:</label>
                <input type="number" id="low" name="low" required step="any">
            </div>
    
            <div class="form-group">
                <label for="risk">Risk Amount:</label>
                <input type="number" id="risk" name="risk" required step="any">
            </div>
            
            <button type="submit">Calculate</button>
        </form>
        
        {% if error_message %}
        <p style="color: red;">Error: {{ error_message }}</p>
    {% elif result %}
        <div class="result" id="result-container">
            
            <h3>Calculation Results:</h3>
            <p><strong>Candle High:</strong> {{ result.high }}</p>
            <p><strong>Candle Low:</strong> {{ result.low }}</p>
            <p><strong>Enter Position At:</strong> {{ result.enter_position }}$</p>
            <p><strong>Stop Loss At:</strong> {{ result.stop_loss }}$</p>
            <p><strong>Buy Amount of Stocks:</strong> {{ result.stock_amount }}</p>
            <p><strong>Total Deal Cost:</strong> {{ result.deal_cost }}$</p>
            <div class="button-container">
            <button type="button" class="button-nav" onclick="goBack()">⬅</button>
            <button class="close-btn" onclick="closeResult()">x</button>
            <button type="button" class="button-nav" onclick="goForward()"> ➡</button>
            </div>
        </div>
    {% endif %}
    </div>
    
<script>
    function closeResult() {
        let resultContainer = document.getElementById('result-container');
        if (resultContainer) {
            resultContainer.style.display = 'none';
        }
    }
    function goBack() {
        window.history.back();
    }

    function goForward() {
        window.history.forward();
    }
</script>
</body>
</html>
